#carrito{
    h1{
        i{
            color: greenyellow;
            font-size: 2em;
        }
    }

    .carritoTitulos{
        display: flex;
        align-items: center;

        p{
            text-align: center;
            background-color: black;
            color: white;
            border: solid;
            border-color: greenyellow;
        }
    }

    .carritoProductos{
        display: flex;
        align-items: center;

       p{
            text-align: center;
            margin: 0;
            padding: 0.5em;
        }

        button{
            font-size: 2em;
            padding: 0.5em;
            border: none;
            background-color: transparent;
            margin: 0;
            color: red;
        }
        
    }

    .totalProductos{
        display: flex;
        justify-content: center;
        gap: 3em;
        background-color: rgb(210, 209, 209);

        p{
            font-size: 3em;
        }
    }
}