#carrito{
    .carrito{
        p{
            text-align: center;
        }
    }
    h2{
        i{
            color: #F891CB;
            font-size: 2em;
        }
    }

    .carritoTitulos{
        display: flex;
        align-items: center;

        p{
            text-align: center;
            background-color: black;
            color: white;
            border: solid;
            border-color: greenyellow;
        }
    }

    .carritoProductos{
        display: flex;
        align-items: center;

       p{
            text-align: center;
            margin: 0;
            padding: 0.5em;
        }

        button{
            font-size: 2em;
            padding: 0.5em;
            border: none;
            background-color: transparent;
            margin: 0;
            color: red;
        }
        
    }

    .total{
        font-family: 'Anton', sans-serif;
        text-align: center;
        padding: 0.5em;
        }

    .formulario{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5em;

        .form{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;

            p{
                margin: 0;
            }
        }

        button{
            font-size: 2em;
            padding: 0.5em;
            background-color: greenyellow;
            width: fit-content;
            border-color: black;
        
            &:hover{
                background-color: black;
                color: #F891CB;
            }
        }
    }

    button, input, optgroup, select, textarea {
        font-size: 2em;
    }
}