#footer{
    padding: 5em 10em;
    background-color: black;

    h2{
        color: white;
        padding: 2em 0 1em 0;
        font-size: 2em;
    }

    i{
        color: greenyellow;
    }

    p{
        color: white;
    }
}