header{
    background-color: white;
    text-align: center;

    a{
        color: black;
        font-family: 'Anton', sans-serif;

        &:hover{
            color: greenyellow;
        }
    }

    .search{
        border: none;
        background-color: transparent;
    }

    .carritoBag{
        border: none;
        background-color: transparent;

        i{
            font-size: 1em;
        }
    }

    i{
        color: #F891CB;
        font-size: 2em;
    }
}