#productos{
    .info{
        line-height: 3em;

        li{
            list-style-type: disc;
            padding: 0 1em;
        }
    }

    .produ3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
}