#productos{
    .productos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8em;

        .titleProd{
            text-align: center;
        }

        .btn{
            background-color: greenyellow;
            width: fit-content;
            border-color: black;
        
            &:hover{
                background-color: black;
                color: greenyellow;
            }
        }
    }
}