.fotoSinStock{
    filter: grayscale(2);
}
.textoSinStock{
    font-size: 3em;
    background-color: greenyellow;
    background-size: contain;
    padding: 0.5em;
    border-radius: 3em;
    text-align: center;
}