.fotoSinStock{
    filter: grayscale(2);
}

.SS{
    display: flex;
    flex-direction: column;
    align-items: center;

    .textoSinStock{
        color: black;
        font-size: 2em;
        width: fit-content;
        padding: 0.3em;
        border: solid black;
        background-color: rgb(205, 204, 204);
    }
}