@import "navbar";
@import "generales";
@import "inicio";
@import "productos";
@import "nosotrxs";
@import "footer";
@import "carrito";
@import "stock";
@import "sweetalert";



@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&display=swap');


@media (max-width: 986px){
/* HEADER */
    header{
        a{
        font-size: 2em;
        }

        .offcanvas{
            align-items: center;
        }

        .offcanvas-end{
            max-width: 30%;
            padding: 1em;
        }

        .navbar-icon-mobile{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2em;

            div{
                display: flex;
                gap: 2em;
            }
        }
    }


/* TITULOS */
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2.5em;
    }


/* INICIO */
    #inicio{
        padding-top: 5em;
    }


/* PRODUCTOS */
    #productos{
        padding: 7em 4em;

        .btn{
            font-size: 2em;
        }
        .titleProd{
            font-size: 2.5em;
        }
        .description{
            font-size: 2em;
        }
        .price{
            font-size: 2em;
        }

        .cardError{
            h2{
                font-size: 2em;
            }
            p{
                font-size: 2em;
            }
        }
    }
    
    
/* CARRITO */
    #carrito{
        padding: 7em 4em;

        .carrito{
            p{
                font-size: 2em;
            }
        }
    
        .carritoTitulos{
            p{
                font-size: 1.5em;
                padding: 0.5em;
            }
        }
    
        .carritoProductos{
            p{
                font-size: 1.5em;
            }
        }

        .total{
            font-size: 2em;
        }

        .formulario{
            .form{
                p{
                    font-size: 1.5em;
                }
            }
        }
    }


/* NOSOTRXS */
    #nosotrxs{
        padding: 6em 4em;
        p{
            font-size: 2em;
        }
    }


/* FOOTER */
    #footer{
        .contacto{
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                font-size: 1.5em;

                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}


@media (min-width: 987px){
/* HEADER */
    header{
        a{
        font-size: 3em;
        }

        .offcanvas{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
        }

        .navbar-icon-mobile{
            div{
                display: flex;
                    align-items: center;
                gap: 2em;
            }
        }
    }


/* TITULOS */
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 4em;
    }


/* INICIO */
    #inicio{
        padding-top: 9em;
    }


/* PRODUCTOS */
    #productos{
        padding: 11em;

        .info{
            display: flex;
            align-items: center;
            gap: 2em;
            padding: 2em 6em;

            .description{
                font-size: 2.5em;
                text-align: left;
            }
        }
        .btn{
            font-size: 2.5em;
        }
        .titleProd{
            font-size: 3em;
        }
        .price{
            font-size: 2.5em;
        }

        .cardError{
            h2{
                font-size: 3em;
            }
            p{
                font-size: 3em;
            }
        }
    }


/* CARRITO */
    #carrito{
        padding: 11em;

        .carrito{
            p{
                font-size: 3em;
            }
        }

        .carritoTitulos{
            p{
                font-size: 2.5em;
                padding: 1em;
            }
        }

        .carritoProductos{
            p{
                font-size: 2em;
            }
            
        }

        .total{
            font-size: 3em;
        }

        .formulario{
            .form{
                p{
                    font-size: 2em;
                }
            }
        }
    }


/* NOSOTRXS */
    #nosotrxs{
        padding: 12em 9em;
        p{
            font-size: 3em;
        }
    }
    
/* FOOTER */
    #footer{
        .contacto{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5em;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                font-size: 2em;
            }
        }
    }
}